# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia 
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. SciPy
5. Matplotlib

| Data Science Tools |
| ---------- |
| Apache Spark |
| Hadoop |
| Sci-Learn |
| Apache Airflow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
200 // 60

3

__Objectives:__
#### List popular languages for Data Science.
* Python
* R
* Julia
* Java
* Scala
* JavaScript
* SQL

## Author:
 Vishal Suralkar